
.menu__item {
	display: inline-block;
	vertical-align:middle;
	margin-right: 54px;
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

.menu__list {
	margin-top: 13px;
}
.menu__item:last-child {
	margin-right: 0;
}

.menu__item:hover {
	color: #C54407;
	scale: 1.02;
	transition: scale .3s ;
}

.menu__item--action, .menu__item--action:hover {
	color: #C54407;
	opacity: .8;
	scale: .95;
}
