
.separator {
	background: #373737 url('/img/party.png') right 30% top no-repeat;
	min-height: 363px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #FFF;
}

.separator__title {
	font-size: 48px;
	font-weight: 700;
	line-height: normal;
}

.separator__tittle--color {
	color: #FF5400;
}

.separator__content {
	max-width: 553px;
}