
.socials {
	margin-right: 66px;
}

.socials__item {
	display: inline-flex;
	vertical-align: middle;
	margin-right: 6px;
}
.services__item:last-child {
	margin-right: 0;
}

.socials__link {
	display: block;
	text-decoration: none;
	width: 36px;
	height: 36px;
	opacity: .5;
}

.socials__link:hover {
	opacity: 1;
} 
