
.socials {
	margin-right: 66px;
}
.socials__list {
	margin-top: 12px;
}

.socials__item {
	display: inline-flex;
	vertical-align: middle;
	margin-right: 6px;
	opacity: 0.5;
}

.socials__item--tlg {
	width: 36px;
	height: 36px;
  background: url('../../img/socials_sprites.png') -10px -122px;
}

.socials__item--vk {
	width: 36px;
	height: 36px;
  background: url('../../img/socials_sprites.png') -10px -178px;
}

.socials__item--fb {
	width: 36px;
	height: 36px;
  background: url('../../img/socials_sprites.png') -10px -10px;
}

.socials__item--inst {
	width: 36px;
	height: 36px;
  background: url('../../img/socials_sprites.png') -10px -66px;
}

.services__item:last-child {
	margin-right: 0;
}

.socials__link {
	display: block;
	text-decoration: none;
	/* width: 36px;
	height: 36px;
	opacity: .5; */
}

.socials__item:hover {
	cursor: pointer;
	opacity: 1;
	scale: 1.05;
	transition: scale .1s, ease-out;
} 
