
.top-line {
	min-height: 417px;
	display: flex;
	flex-direction: column;
	padding-bottom: 26px;
	background:#17191C url('../../img/top-line.png')center top no-repeat;
}

.top-line__container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
